# Hello World!

In Programing the first thing usually taught is how to print out Hello World! to the screen, so lets do that.

In [1]:
print("Hello World!")

Hello World!

### Comments

In programming comments are used to explain what a line of code does. This increases readability both for the programmer and a stranger comming to read the code for the first time.

In [2]:
# This is a Comment

### Arithmetics in Python

To perform arithmetic operations in python we use aritnmetic operators for this purposes. The aritmetic operators are Addition(+), Subtraction(-), Multiplication( * ), Division(/), Modululs(%), Exponent( ** )

In [3]:
5 + 5

10

In [4]:
10 - 5

5

In [5]:
3 * 5

15

In [6]:
10 / 2

5.0

In [7]:
18 % 7

4

In [8]:
4 ** 2

16

### Variable Assingments

To assign a variable in python all we have to do is to type the variable name and give it a value. For example:

In [9]:
x = 5

In [10]:
print(x)

5

Variables can be used to perform math operations in place of numbers. For example:

In [11]:
num = 10
mul = 2

print(num * mul)

20

### Data Types

Their are several data types in python. Examples are:

In [12]:
type1 = 100 # Integer
type2 = 1.1 # Float
type3 = "COLPHYS" # Strings
type4 = True # boolean 1
type5 = False # boolean 2

In python you can check the data type of an already defined variable by just using the function "type"

In [13]:
type(type4)

bool

Just as operation can be performed on numbers in Python we can also perform addition on strings also. This is called concatenation.

In [14]:
string1 = "COLPHYS & "
string2 = "CCTI"

result = string1 + string2

In [15]:
print(result)

COLPHYS & CCTI

In Python it is possible to change the data type of a particular variable using functions like.

* str()
* float()
* int()
* bool()

### Python Lists

In programming a list is an example of what we call a complex data type.

In [16]:
a = "is"
b = "nice"
my_list = ["my", "list", a, b]

In [17]:
my_list

['my', 'list', 'is', 'nice']

A python list can contain more than one data type

In [18]:
one = 1.0
two = 2.0
three = 3.0
numbers = [one, two, three, "One", "Two", "Three"]
numbers

[1.0, 2.0, 3.0, 'One', 'Two', 'Three']

In [19]:
# Also a list can also contain a list in python

a = [1, 2, 3, 4, 5]
b = ["one", "two", "three", "four", "five"]
c = [1.0, 2.0, 3.0, 4.0, 5.0]

list1 = [a, b, c]
list1

[[1, 2, 3, 4, 5],
 ['one', 'two', 'three', 'four', 'five'],
 [1.0, 2.0, 3.0, 4.0, 5.0]]

In [21]:
# List Indexing and Arithmetics with indexed lists to be explained in class

# Indexing of list inside of a list to be Explained in class

In [27]:
# List Slicing

print(numbers[0:])
print(numbers[0:5])
print(numbers[:5])

[1.0, 2.0, 3.0, 'One', 'Two', 'Three']
[1.0, 2.0, 3.0, 'One', 'Two']
[1.0, 2.0, 3.0, 'One', 'Two']

In [28]:
print(numbers[:])

[1.0, 2.0, 3.0, 'One', 'Two', 'Three']

In [29]:
# Changing values in a list

# Using the numbers list
numbers[-1] = "three"
print(numbers)

[1.0, 2.0, 3.0, 'One', 'Two', 'three']

In [30]:
# Appending elements to a list

numbers1 = numbers + ["Four", "Five"]

print(numbers1)

[1.0, 2.0, 3.0, 'One', 'Two', 'three', 'Four', 'Five']

In [33]:
# Deleting elements in a list

del(numbers1[-2])

print(numbers1)

[1.0, 2.0, 3.0, 'One', 'Two', 'three', 'Five']